* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

/* CONTENEDOR EXTERNO */
#game-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* LIENZO DEL JUEGO (TAMAÑO FIJO) */
#game {
  position: relative;
  width: 1080px;
  height: 1920px;
  background: black;
  transform-origin: top left;
}

/* IMAGEN */
#loading-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BARRA */
.progress-container {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 18px;
  background: rgba(255,255,255,0.25);
  border-radius: 10px;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  border-radius: 10px;
  transition: width 0.05s linear;
}

